/* Color Theme Swatches in Hex */
.fontColor-navy {
  color: #274754;
}
.fontColor-green {
  color: #2b9e91;
}
.fontColor-yellow {
  color: #e8c468;
}
.fontColor-orange {
  color: #f5a462;
}
.fontColor-redorange {
  color: #e86f51;
}

/* Color Theme Swatches in RGBA */
.bgColor-navy {
  color: rgba(39, 71, 84, 1);
}
.bgColor-green {
  color: rgba(43, 158, 145, 1);
}
.bgColor-yellow {
  color: rgba(232, 196, 104, 1);
}
.bgColor-orange {
  color: rgba(245, 164, 98, 1);
}
.bgColor-redorange {
  color: rgba(232, 111, 81, 1);
}

body {
  background-color: #90d1ca;
}

body::-webkit-scrollbar {
  width: 1em;

  background-color: #262626;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  border-radius: 1rem 1rem 1rem;

  background-color: rgba(44, 241, 204, 0.4);
}

/* MAIN APP COMPONENTS */

#login {
  position: absolute;
  right: 1em;
}

.planner {
  display: block;
  position: absolute;
  top: 4em;
  left: 2em;
  margin: auto;
  padding: 1.5em;
  height: 50em;
  width: 45em;

  background-color: ghostwhite;
  filter: drop-shadow(0.5em 0.75em 0.5em rgba(39, 71, 84, 1));

  border: 2px solid #f5a462;

  border-top-right-radius: 1em 1em;
  border-bottom-left-radius: 1em 1em;
  border-bottom-right-radius: 1em 1em;
}

.navBar {
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 1.125em;
  left: 2em;
  width: auto;
  height: 3em;
}

.navTab {
  display: block;
  position: relative;
  float: left;
  box-sizing: border-box;
  height: 100%;
  width: 200px;

  background-color: ghostwhite;
  border: 1px solid #f5a462;
  border-width: 2px 2px 0px 2px;
  border-top-left-radius: 0.75em 0.75em;
  border-top-right-radius: 0.75em 0.75em;

  font-size: 1.5em;
  color: #e86f51;
}

.navTab.toggled {
  z-index: 2;
}

.navTab.notToggled {
  background-color: gainsboro;
  filter: drop-shadow(0.5em 0.75em 0.5em rgba(39, 71, 84, 1));
}

/* CALENDAR COMPONENTS */
.calendar {
  display: grid;
  box-sizing: border-box;
  position: relative;
  margin: auto;
  padding: 0.5em;
  height: 100%;
  width: 95%;

  grid-template-rows: 1fr 14fr;
  column-gap: 1em;

  border-radius: 1em 1em 1em;
}

.calHeader {
  display: block;
  position: relative;
  box-sizing: border-box;
  margin: auto;

  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #2b9e91;
}

.calendar .navBar {
  display: grid;
  box-sizing: border-box;
  position: relative;
  top: 0em;
  left: 0em;
  margin: auto;
  padding: 0em 0.125em;
  width: 100%;
  height: auto;

  grid-template-columns: 1fr 3fr 1fr;

  background-color: #e86f51;
  color: ghostwhite;

  text-align: center;
}

.calendar .navBar button {
  height: auto;
  width: minMax(auto, 80%);
}

button.prev {
  left: 0em;
}

button.next {
  right: 0em;
}

.calendar .navTab {
  display: block;
  position: relative;
  float: left;
  box-sizing: border-box;
  margin: 1%;
  height: auto;
  width: auto;

  background-color: ghostwhite;
  border: 2px solid #f5a462;
  border-radius: 0.75em 0.75em;
  box-shadow: 0.25em 0.25em 0.25em rgba(39, 71, 84, 0.75);
  filter: none;

  font-size: 1rem;
  color: #e86f51;
}

.calendar .navTab.toggled {
  z-index: 2;
}

.calendar .navTab.notToggled {
  background-color: gainsboro;
}

/* TIMELINE */

.timeLine {
  display: grid;
  box-sizing: border-box;
  position: relative;
  padding: 1em 0em;
  min-height: 90%;
  height: 95%;
  min-width: 20%;
  width: auto;

  grid-template-columns: 1fr 1fr;
  column-gap: 0em;
  grid-column: 1;
  justify-content: center;
  align-content: space-between;

  background-color: #e8c468;
  box-shadow: 0.5em 0.5em 0.5em rgba(39, 71, 84, 0.75);

  color: ghostwhite;
  text-align: right;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;

  border-radius: 1em 1em 1em;
}

.timeNotch {
  display: block;
  box-sizing: border-box;
  margin: auto;
  min-height: 1em;
  max-height: 100%;
  max-width: 100%;
  width: 100%;

  border-top: 1px solid ghostwhite;
}

.hidden {
  color: rgba(232, 196, 104, 0);
}

.timeIndicator {
  display: block;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
  right: -1em;
  height: 100%;
  width: 100%;

  border-style: none;
  filter: drop-shadow(0.125em 0.125em 0.125em rgba(39, 71, 84, 0.9));

  overflow: visible;
}

.timePointer {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #e86f51;
  clip-path: polygon(0 1%, 100% 50%, 0% 100%, 12% 51%);
}

.currentTime {
  position: relative;
  bottom: 1em;
  right: 0.75em;
  z-index: 2;

  line-height: 0em;
  font-weight: bolder;
  text-shadow: 0.125em 0.125em 0.25em rgb(163, 54, 27);
}

/* DAY + TIMEBLOCKS */

.day {
  display: grid;
  box-sizing: border-box;
  position: relative;
  right: 0px;
  padding: 1em;
  min-height: 90%;
  height: 95%;
  width: auto;

  grid-template-columns: auto auto;
  grid-row: 2 / span 1;
  justify-content: left;
  align-content: center;

  background-color: #e8c468;
  box-shadow: 0.5em 0.5em 0.5em rgba(39, 71, 84, 0.75);

  border-radius: 1em 1em 1em;
}

.event {
  display: block;
  position: relative;
  box-sizing: border-box;
  margin: auto;
  padding: 0.125em;
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  width: 100%;

  background: linear-gradient(to bottom, #90d1ca, #2b9e91);
  border-radius: 0.5em 0.5em 0.5em;
  box-shadow: 0.25em 0.25em 0.25em rgba(39, 71, 84, 0.5);

  color: ghostwhite;

  overflow-y: scroll;
}

.event p {
  position: relative;
  margin: auto;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.0625em;
  vertical-align: middle;
}

.event::-webkit-scrollbar {
  width: 0.25em;

  background-color: rgba(43, 158, 145, 0);
}

.event::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}

.event::-webkit-scrollbar-thumb {
  position: relative;
  border-radius: 1rem 1rem 1rem;

  background-color: rgba(43, 158, 145, 0);
  border: 1px solid ghostwhite;
}

/* TASKBOARD COMPONENTS */

.task {
  display: block;
  box-sizing: border-box;
  margin: auto;
  padding: 0.5em;

  border-radius: 1em 1em 1em;
  box-shadow: 0.25em 0.25em 0.25em #274754;
  background-color: #2b9e91;

  color: ghostwhite;
}

.task button {
  float: right;
}

.deleteButton {
  color: red;
}

/* DETAILS BOARD */

.detailsBoard {
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 5em;
  right: 4em;
  margin: auto;
  padding: 0.5em;
  width: 25%;
  min-height: 80vh;

  background-color: ghostwhite;
  box-shadow: 0.5em 0.75em 0.5em rgba(39, 71, 84, 0.75);
  border-radius: 1em 1em 1em;
}

.exitButton {
  float: right;
}

.taskInfo {
}
